name: CI

on:
  push:
    branches:
      - '*'
    tags:
      - ''

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Set up JDK 17 for test fixtures
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Compile test fixtures with JDK 17
      run: |
        (cd ./src/test/resources/fixtures/spring-boot-realworld-example-app && ./gradlew compileJava)
        (cd ./src/test/resources/fixtures/spring-tutorials/lightrun && mvn compile)
        (cd ./src/test/resources/fixtures/spring-tutorials/core-java-modules && mvn compile)

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Build with Gradle Wrapper
      run: ./gradlew build
